@model Data.Entities.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="row">
        <dl class="row col-md 8">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div class="col-md-4">
            <form asp-action="ChangePass" asp-controller="Users" class="form-elegant" id="change-pass">
                <input type="hidden" name="Username" class="form-control" value="@Model.Username">
                <div class="md-form">
                    <input type="password" name="Password" class="form-control" id="new-pass">
                    <label>New Password</label>
                </div>
                <div class="md-form pb-3">
                    <input type="password" class="form-control" id="confirm">
                    <label>Confirm</label>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-outline-light-blue btn-block btn-rounded z-depth-1a waves-effect waves-light">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

