@model Data.Entities.Player
@using Microsoft.AspNetCore.Http;

@{ ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Auth.cshtml";
    }

@if (Context.Session.GetString("User") == null)
{
    <div class="text-center">
        <h2 class="mt-5 font-weight-bold red-text">403</h2>
        <h4 class="my-5">Sorry, You are not authorized to access</h4>
    </div>
 }
else
{
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-8 my-5 mx-auto">
                                            <form asp-action="Create" class="form-elegant" id="create-player">
                                                <div class="card card-cascade wider">
                                                    <div class="card-body card-body-cascade text-center">
                                                        <h5 class="blue-text pb-2"><strong>Đăng ký dịch vụ</strong></h5>
                                                        <p class="card-text">
                                                            Để đăng ký, vui lòng điền đầy đủ các thông tin bên dưới và xác nhận
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="md-form">
                                                    <label asp-for="Name" class="control-label"></label>
                                                    <input asp-for="Name" class="form-control" required />
                                                </div>
                                                <div class="md-form">
                                                    <label asp-for="Description" class="control-label"></label>
                                                    <input asp-for="Description" class="form-control" required />
                                                </div>

                                                <div class="md-form">
                                                    <label asp-for="Phone" class="control-label"></label>
                                                    <input asp-for="Phone" class="form-control" required />
                                                </div>
                                                <div class="md-form">
                                                    <input type="hidden" asp-for="Email" value="@Context.Session.GetString("Email")" class="form-control" />
                                                </div>
                                                <div class="md-form">
                                                    <label asp-for="Price" class="control-label"></label>
                                                    <input asp-for="Price" type="number" class="form-control" required />
                                                </div>
                                                <select asp-for="Gender" class="browser-default custom-select my-4">
                                                    <option value="Nam">Nam</option>
                                                    <option selected value="Nữ">Nữ</option>
                                                    <option value="Khác">Khác</option>
                                                </select>
                                                <div class="custom-file">
                                                    <input type="file" id="upload" class="custom-file-input form-control">
                                                    <label class="custom-file-label" asp-for="Image" data-browse="Select"></label>
                                                </div>
                                                <input asp-for="Image" type="text" class="form-control" value="Default.png" hidden id="image" />
                                                <div class="md-form text-center">
                                                    <button type="submit" class="btn btn-outline-primary btn-rounded">Create</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-8 view my-5 mx-auto">
                                            <img src="" id="show-image" alt="" width="360">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
